<base href="http://confinder.richmond.edu/">
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>Constitution Finder</title>
    
    <link rel="exhibit/data" 
    type="application/jsonp"
    href="http://spreadsheets.google.com/feeds/list/o04586166417183606296.8810867599289067196/od6/public/basic?alt=json-in-script"
    ex:converter="googleSpreadsheets" />
    <link rel="stylesheet" href="styles2.css" />
    <script type="text/javascript" src="http://api.simile-widgets.org/exhibit/2.2.0/exhibit-api.js"></script>
    <link rel='stylesheet' href='styles2.css' type='text/css' />
</head>
<body> 
    <div ex:role="collection"></div>
<table id="frame" border=0 cellspacing=0 cellpadding=0>
	<tr>
		<td colspan="2">	
			<img src="confinder.gif">
            <!--</br>-->	
    	</td>
	</tr>
	<tr>
        <!--<div class="nav">-->
        <td class="nav" colspan="2">
            <ul>
            <li><a href="index.html">Constitutions</a></li>
            <li><a href="circumscription.html">Circumscription</a></li>
            <li><a href="contact.html">Contact</a></li>
            </ul>
        </td>
    </tr>		
    <tr>
        <td id="sidebar">
            <div id="exhibit-browse-panel">
            <div ex:facetclass="TextSearch" ex:facetlabel="Search" ex:role="facet" id="facet1211341960513"></div>
            <hr/>
            <div ex:role="facet" ex:expression=".country" ex:facetLabel="Country" ex:height="20em" ex:selection="United States"></div>
            <div ex:role="facet" ex:expression=".category" ex:facetLabel="Constitution Subcategories" ex:height="8em" ex:selection="National" ex:fixedOrder="National" ex:showMissing="false"></div>
            <div ex:role="facet" ex:expression=".language" ex:facetLabel="Constitution Language" ex:height="3em" ex:showMissing="false"></div>               
            <center ex:role="logo" ex:color="Black">
            </center>                
            </div>
		</td>
        <td colspan="1">
           	<div ex:role="viewPanel" style="padding: 1em 0.5in;">
                   <div 
                    ex:role="view"
                    ex:viewClass="Thumbnail"
                    ex:grouped="true" 
                    ex:possibleOrders=".country, .category, .title, .language"
                    ex:showAll="false"
                    ex:abbreviatedCount="18"
                    ex:scroll="true"
                    >

                    <div ex:role="lens" class="country-thumbnail" style="display: none;">
					<div><h4><a ex:href-content=".con_url" target="_blank"><img ex:src-subcontent="images/{{.country}}.jpg" align="left"/><span ex:content=".title"></h4></span></a></div>
                    <p>&nbsp;</p>
                    <div class="con_descrpition"><span ex:content=".con_description"></span></div>
                    <br />
                    <br />
                    <div class="language">Language: <span ex:content=".language"></span></div>
                    <br />
                    <div class="enacted"><span ex:content=".enacted" showMissing="false"></span></div>
                    <br />
                    <div class="repealed"><span ex:content=".repealed" showMissing="false"></span></div> 
                    <br />
                    <div class="status"><span ex:content=".status" showMissing="false"></span></div>
                </div>
            </div>
            
    </table>

<!--This is the old Analytics code. Get rid of this when JP has the data he needs.-->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5853613-1");
pageTracker._trackPageview();
</script>			

<!--this is the new code. keep this! -->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18519643-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
